:root{
    --Poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    position: relative;
}


a{
    text-decoration: none;
    color: inherit;
}

main{
    height: 80vh;
    width: 90vw;
    display: flex;
}

.left-wrapper{
    height: 100vh;
    width: 50%;
    position: relative;
}

.image{
    height: 100%;
    min-width:100%;
    object-fit: fill;
    position: absolute;
    z-index: -1;
}

nav{
    height: 12vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

nav>ul{
    display: flex;
}

.nav-ul-one{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 50px; 
}

.neepco{
    font-family: var(--Poppins);
    font-weight: 900;
    text-decoration: dashed;
}

.nav-ul-two{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
}

nav>ul>li{
    list-style: none;
    font-family: var(--Poppins);
}

.logo{
    height: 45px;
}

.right-wrapper{
    height: 100vh;
}

.form-heading{
    height: 5vh;
    display: flex;
    align-items: center;
    margin: 20px 0 0 40px;
    font-family: var(--Poppins);
    font-weight: 500;
}

form{
    padding-left: 40px;
    height: 95vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-heading {
    position: relative;
    display: inline-block;
  }

  .form-heading::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 4px;
    width: 90%;
    height: 2px; 
    border-radius: 20px;
    background-color: black; 
}

label{
    display: block;
    font-family: var(--Poppins);
}

input, select{
    padding: 5px 20px;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
    height: 75%;
    width: 80%;
    font-family: var(--Poppins);
}

.time-elements-container, .option-and-photo-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-input{
    width: 60%;
}

.submit{
    height: 50px;
    width: 120px;
    font-size: 1rem;
    cursor: pointer;
}

.submit:hover{
    box-shadow: 0 2px 5px #949494;
    transition: 0.3s ease-in-out;
    background-color: #ffd2c9;
    color: rgb(255, 255, 255);
}
 input:focus{
    box-shadow: 0 0 5px ;
    outline: none;
}

.modal-wrapper{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    place-items: center;
    background-color: #0000009f;
    visibility: hidden;
}   

.modal-container{
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    min-height: 82%;
    min-width: 80%;
    box-shadow: -2px 3px 5px black;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.modal-container>i{
    position: absolute;
    right: 4%;
    top: 8%;
    cursor: pointer;
    color: #094F68;
}

.modal-header-container{
    display: grid;
    place-items: center;
    width: 60%;
}

.modal-header-container{
 font-family: var(--Poppins);
 color: #094F68;
}

.modalImage{
    height: 350px;
}

.modal-button-container{
    width: 60%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

}
.modal-button-container>button{
    height: 70px;
    width: 240px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right bottom, #54d1ff , #0087b8);
    cursor: pointer;
    font-family: var(--Poppins);
    font-size: 1.2rem;
    color: white;
}

.modal-button-container>button:hover{
    box-shadow: 0 4px 5px #949494;
    transition: 0.3s ease-in-out;
}



